@font-face {
    font-family: 'Amerika Pro';
    src: local('Amerika Pro'), url('amerikapro.woff2') format('woff2'), url('amerikapro.woff') format('woff'), url('amerikapro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
